body{
	font:15px, 1.5, "Helvetica",Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul{
	padding: 0;
	margin: 0;

}
header{
	background: #039be5;
	color: #ffffff;
	min-height: 70px;
	border-bottom: #039be5 2px solid; 
	padding-top:20px; 
}
h2{
	margin:0;
	padding:0;
}

#logo{
	float: left;
	margin: auto;
	padding-left: 30px;
}
header h1{
	margin:0;
	padding:0;
	text-align: center;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px;
}

header nav{
	float: right;
	margin-top:10px;
}
header a:hover{
	color: #0d47a1;
	font-weight: bold;
}
#first{
	background: #f1f1f1;
	color:#039be5;
	min-height: 400px;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
.innerbody{
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;

}
.body{
	text-align: center;
}
#txtemail{
	width: 210px;
	min-height: 10px;
	margin-left: 10px;

}
#txtpass{
	width: 210px;
	min-height: 10px;
	margin-left: 10px;
}
.form-box{
	display: flex;
	flex-direction:column;
	padding: 0.5rem 0;
	
}
.form-box label{
	display: none;
}
.form-box input{
	border-radius: 10px;
	padding:5px 0px 5px 5px;
}
.form-box button{
	background-color: #039be5;
		border-radius: 10px;
		color: #ffffff; 
}
footer{
	background-color: #039be5;
	color: #ffffff;
	height:50px;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: center;
}

	a{
		color: #039be5;
	}

@media only screen and (min-width: 600px){
	.innerbody{
		border:1px solid #039be5;
		width: 450px;
		border-radius: 8px;
		margin: 0 auto;
		box-sizing: inherit;
		min-height: 0;
		margin-top: 50px;

	}
	.body{
		padding: 10px 10px 20px 20px;
	}
	#txtemail{
	width: 350px;
	min-height: 10px;
	

	}
#txtpass{
	width: 350px;
	min-height: 10px;
	}

	.form-box button{
		width: 370px;
	}
	.form-box label{
		display: flex;
		margin-left: 10px;
	}

}
@media only screen and (min-width: 1000px){
	#first{
		padding-bottom: 30px;
	}


}